flows (3).json
[{"id":"95873d8.940fbc","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"80b7d7e5.4be428","type":"microphone","z":"95873d8.940fbc","name":"","x":190,"y":100,"wires":[["ae4ffbed.ea7508"]]},{"id":"ae4ffbed.ea7508","type":"watson-speech-to-text","z":"95873d8.940fbc","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"VIHZWLSfwy4ysLXTbGDvBXjM0wexJ8hbV76lxcRRhukA","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/75456471-35c6-4f8d-83f7-77634afd496c","x":280,"y":180,"wires":[["725c6184.cf225","2d7db8d1.5f4308","a2c4a212.c421"]]},{"id":"2d7db8d1.5f4308","type":"watson-assistant-v2","z":"95873d8.940fbc","name":"","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/07ed023e-8467-41f1-a215-e8c04f7d6caa","assistant_id":"73fa32f9-500e-404a-a9bb-758204ba403d","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":560,"y":120,"wires":[["16a67be5.aa7b84"]]},{"id":"83dedc33.cef2d","type":"watson-text-to-speech","z":"95873d8.940fbc","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonV3Voice","voicehidden":"en-US_AllisonV3Voice","format":"audio/wav","password":"","apikey":"c3DisOV0O-w4Be_K9qB9rrFmVST0VaIyNEnkbVmi9DKP","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/138ae418-d901-436b-a8e3-8369793c9601","x":640,"y":320,"wires":[["4df1fcdf.4cd6b4","3d88ade5.753e32"]]},{"id":"725c6184.cf225","type":"debug","z":"95873d8.940fbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":260,"wires":[]},{"id":"1c72c500.071c5b","type":"debug","z":"95873d8.940fbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":160,"wires":[]},{"id":"4df1fcdf.4cd6b4","type":"debug","z":"95873d8.940fbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":420,"wires":[]},{"id":"3d88ade5.753e32","type":"play audio","z":"95873d8.940fbc","name":"","voice":"0","x":730,"y":420,"wires":[]},{"id":"33d5bdd4.78d9c2","type":"inject","z":"95873d8.940fbc","name":"","topic":"is there any appointments today","payload":"is there any appointments today","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":60,"wires":[["2d7db8d1.5f4308"]]},{"id":"16a67be5.aa7b84","type":"function","z":"95873d8.940fbc","name":"","func":"msg.payload=msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["83dedc33.cef2d","1c72c500.071c5b","c7ffbb32.eea9c8"]]},{"id":"a2c4a212.c421","type":"ui_text","z":"95873d8.940fbc","group":"f86e9645.e471c8","order":1,"width":0,"height":0,"name":"QUESTION:","label":"QUESTION:","format":"{{msg.payload}}","layout":"row-left","x":350,"y":360,"wires":[]},{"id":"c7ffbb32.eea9c8","type":"ui_text","z":"95873d8.940fbc","group":"f86e9645.e471c8","order":3,"width":0,"height":0,"name":"ANSWER:","label":"ANSWER:","format":"{{msg.payload}}","layout":"row-center","x":800,"y":260,"wires":[]},{"id":"f86e9645.e471c8","type":"ui_group","z":"","name":"SmartChatBot","tab":"273fc0bd.89811","order":1,"disp":true,"width":"6","collapse":false},{"id":"273fc0bd.89811","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]